a.navbar-brand {
    padding: 0;
}
img#nav_profile_pic {
    width: 50px;
    height: 50px;
}
img#profile_pic {
    border-radius: 50%;
background-color: rgb(29, 189, 238);;
}
ul.social-media {
    list-style: none;
}
ul.social-media li a img {
    width: 50px;
    height: 50px;
}
footer#foot {
    bottom: 0;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    border-top: 1px solid #eee;
    background-color:sienna;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: palegreen;
}
h2{
background-color:blue;
}
